* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

input, select {
    padding: 1px 5px 1px 5px;
}

input, select {
    font-size: 15px;
}

.boxGames {
    width: 170px;
    height: 50px;
    float: left;
}

.boxMeasureTypes {
    width: 390px;
    height: 50px;
    float: left;
}

.boxData {
    clear: left;
}